tr:hover{
    border: 3px solid #458be6;
    border-radius: 9px;
}
.timerBox{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 3px;
    font-size: xx-large;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}
@media (max-width: 730px){
    .timerBox{
        display: none;
    }
}
.precButton{
    left: 10px;
    right: unset;
    border-radius: 10px;
    display: none;
    cursor: pointer;
}
.bottomGreenNormal{
    background-color:rgb(55, 171, 46);
    z-index: 9;
    width: 100%;
    height: 30%;
    bottom: 0;
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.14);
}
.bottomGreenExtended{
    /*height:75%;*/
    height: 73%;
    transition: height 1.5s ease;
    overflow-y: auto;
    /*top: 27%;*/
    bottom: 0;
}
.inputBoxNormal{
    background-color: white;
    color: gray;
    width: 90%;
    max-width: 450px;
    height: 50px;
    display: inline-block;
    border-radius: 6px;
    /*top: 57%;*/
    bottom: 30%;
    position: absolute;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}
.inputBoxExtended{
    /*top: 19.8%;*/
    top: unset;
    bottom: 73%;
    transition: bottom 1.5s ease;
}
#geocoder{
    position: absolute;
    width: 100%;
    height: 50px;
}
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl{
    height: 100%;
    width: 100%;
    margin-left: 0px;
    box-shadow: none;
    max-width: calc(100% - 40px);
}
.mapboxgl-ctrl-geocoder--icon-search{
    left: 13px;
    width: 30px;
    height: 30px;
    margin-top: 3px; 
    top: 8px;
    display:none;       
}
.iconSearchEmoji{
    position: absolute;
    font-size: x-large;
    left: 11px;
    top: 9px;
    z-index: 100;
}
#searchInputMarker{
    font-size: 29px;
    position: absolute;
    left: 15px;
    top: 11px;
    color: orange;
    text-shadow: 2px 1px 2px #0000008a;
}
#searchInputMarkerDepart{
    font-size: 29px;
    position: absolute;
    left: 15px;
    top: 11px;
    color: #4264fb;
    text-shadow: 2px 1px 2px #0000008a;
}
div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl input[type="text"].mapboxgl-ctrl-geocoder--input{
    height: 50px;
    margin-left: 40px;
    font-size: larger;
}
@media (max-width: 411px) { 
    div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl input[type="text"].mapboxgl-ctrl-geocoder--input{
        font-size: small;
    }
}   
div.mapboxgl-ctrl-geocoder--pin-right button.mapboxgl-ctrl-geocoder--button{
    margin-right: -27px;
    right: 0px;
    top: 15px;
}
svg.mapboxgl-ctrl-geocoder--icon-close{
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 0;
}

.tripContainer{
    z-index: 19;
    position: relative;
    /*background-color: #cdc2c2;*/
    width: 93%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    top: 5%;
    padding-bottom: 10px;
    height: 100%;
    /*padding-top: 10px;*/
}

.singleTripBox{    
    position: relative;
    background-color: white;
    width: 95%;
    max-width: 450px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    border-radius: 6px;
    padding: 4px;
    padding-left: 15px;
}

.busLeg{
    display: inline-block;
    /*background-color: cornflowerblue;*/
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 6px;
    /*font-size: x-large;*/
    border-radius: 7px;
}

.spanLeg{
    font-size: x-large;
    top: 20%;
    position: relative;
    padding-right: 15px;
}
.spanLegDot::after{
    padding-left: 15px;
    content: "\00B7";
}
@media (max-width: 550px) { 
    .busLeg{
        padding-top: 3px;
        padding-right: 2px;
        padding-left: 2px;
        border-radius: 4px;
    }
}
@media (max-width: 550px) {
    .spanLeg{
        font-size: medium;
        padding-right: 7px;
    } 
    .spanLegDot::after{
        padding-left: 7px;
    }
} 
.spanMin{    
    right: 4%;
    position: absolute;
    top: 28%;
    text-align: right;
    padding-right: 0px;
}
.pMin{    
    font-size: 10px;
    margin-top: -6px;
}
@media (max-width: 550px) {  
    .pMin{    
        line-height: 15px;
    }
}
.divDepartureInformation{
    font-size: 12px;
    position: absolute;
    bottom: 5%;
    left: 3%;
}
.divWalkMin{    
    font-size: 9px;
    position: relative;
    display: inline-block;
    /*bottom: 0%;
    left: 20%;*/
}
.tripDetailsContainer{
    top: 5%;
    background-color: white;
    max-width: 450px;
    height: auto;
    padding: 9px;
    border-radius: 6px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    z-index: 19;
    position: relative;
    width: 93%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    display: none;
}
.singleLegBox{    
    height: 40px;
    border-bottom-style: outset;
    border-width: thin;
    margin-top: 6px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 10px;
    line-height: 40px;
}
.busDirectionDisplay{
    border-style: solid;
    background-color: black;
    color: #ffe500;
    border-color: black;
    border-radius: 4px;
}
.transportLeftLine{
    height: 54px;
    display: inline-block;
    line-height: 0px;
    border-left-style: solid;
    border-left-color: #006C93;
    border-width: 4px;
    border-radius: 4px;
    margin-right: 5px;
}

.topActionButtons{
    position: relative;
    width: 35px;
    height: 35px;
    text-align: center;
    /*padding-left: 3px;
    padding-bottom: 5px;
    padding-top: 0px;
    padding-right: 5px;
    display: inline-block;*/
    display: none;
    top: 15px;
    border-radius: 15px;
    font-size: x-large;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.22);
    background-color: white;
    z-index: 50;
    border-radius: 10px;
    line-height: 35px;
    cursor: pointer;
}
#panelSetTime{
    margin-left: calc(66% + 79px);
    /*display: inline-block;*/
    position: absolute;
    width: 250px;
    height: 170px;
    transform: translateX(-43%);
    top: 55px;
    line-height: 30px;
    z-index: 120;
    font-size: larger;
}
#panelSetTime::before{
    content: "";
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: -13px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 23px solid white;
    border-left: 13px solid transparent;
    z-index: 150;
}
@media (max-width: 666px) {  
    #panelSetTime{
        margin-left: calc(66% - 29px);
    }
    #panelSetTime::before{
        right: 7%;
    }
}
#panelSettings{
    margin-left: 60%;
    /*display: inline-block;*/
    position: absolute;
    width: 250px;
    height: 170px;
    transform: translateX(-43%);
    top: 55px;
    line-height: 30px;
    z-index: 120;
    font-size: larger;
}
#panelSettings::before{
    content: "";
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: -13px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 23px solid white;
    border-left: 13px solid transparent;
    z-index: 150;
}
.walkButton{
    display: inline-block;
    position: fixed;
    left: 105%;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    text-align: center;
    line-height: 50px;
    font-size: x-large;
    display: none;
}
.normalTrans{
    transition: bottom 1.5s ease 0s;
}
.longerTrans {
    transition: bottom 1.5s ease 10s;
}
.busMarker {
    /* background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
    background-size: cover;*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-size: x-large;
}